header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

header h2 {
    font-size: 2rem;
    width: 10px;
    font-weight: 500;
}

.search {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.search .search-icon {
    transform: rotateY(180deg);
}

.search input {
    padding: .4rem 1.4rem;
}